<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Моментум двух таймфреймов</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                        Направление сделки определяется направлением моментума большего таймфрейма, 
                        за исключением случаев нахождения моментума в зоне перекупленности или перепроданности. 
                        Исполнение происходим после разворота моментума меньшего таймфрейма в сторону моментума 
                        большего таймфрейма. 
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>