<h1 mat-dialog-title>Demo Mode</h1>
<div mat-dialog-content>
  <p>
    If you want disable "Demo Mode" and take part in beta test <br>
    two conditions must be completed:
  </p>
  <ol>
    <li>
      open a broker account in <b><a href="https://www.tinkoff.ru/invest/">Tinkoff</a></b>.
    </li>
    <li>
      describe <b>why you want</b> to take part in early beta and if you <b>know anyone</b> of beta testers.
    </li>
  </ol>

  Contact me
  <ul>
    <li>
      by <b>Telegram (evgentrigub)</b> with #wannaFIB.
    </li>
    <li>
      by email <b>trigubov.eugene@gmail.com</b> with topic
      <b>
        FinBots Apply.
      </b>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Got it</button>
</div>
