<h1 mat-dialog-title>Демо режим</h1>
<div mat-dialog-content>
  <p>
    Если хочешь отключить демо режим и принять участие <br>
    в бета-тестировании нужно выполнить два условия:
  </p>
  <ol>
    <li>
      нужно иметь брокерский счет в <b>Тинькофф Инвестициях</b>.
    </li>
    <li>
      знать авторов проекта <b>лично</b> или тех, кто уже принял участие в бета-тестировании.
    </li>
  </ol>

  Напиши
  <ul>
    <li>
      или в <b>Telegram (evgentrigub)</b> с хештегом #wannaFIB
    </li>
    <li>
      или на почту <b>evgentrigub@yandex.ru</b> c темой
      <b>
        Заявка на FinBots
      </b>
    </li>
  </ul>
  В сообщении укажи почему хочешь принять участие в бета-тестировании.
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>