<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="isShow" #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">FinBots MVP</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let el of menuItems" mat-list-item [routerLink]="el.url">{{el.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isShow" color="primary" class="fixed-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Welcome back!</span>

      <span style="flex:1 1 auto;"></span>

      <mat-slide-toggle [(ngModel)]="isDemoToggle" (change)="onDemoToggle()" class="toggle">Demo Mode
      </mat-slide-toggle>
      <mat-icon style="margin-left:2rem" matBadge="1" matBadgeColor="warn">notifications</mat-icon>
      <button mat-button style="margin-left:1rem" [matMenuTriggerFor]="menu">{{ currentUser.email }}</button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/settings">Settings</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <mat-toolbar *ngIf="!isShow">
      <span>FinBots MVP</span>
      <button mat-button style="margin-left:1rem" routerLink="/about">About</button>
      <button mat-button style="margin-left:1rem" routerLink="/login">Login</button>
      <button mat-button style="margin-left:1rem" routerLink="/signup">Signup</button>
      <!-- <div matTooltip="Signup is only by invitations now" matTooltipPosition="after" matTooltipHideDelay="100">
        <button mat-button style="margin-left:1rem" routerLink="/signup" disabled >Signup</button>
      </div> -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
