<div style="margin:20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="font-size:24px">
        Торговые роботы
      </mat-card-title>
      <mat-card-subtitle style="font-size:16px">
        В этом разделе Вы сможите пройти тестирование, которое подскажет нам подходящие для Вас стратегии инвестирования. <br>
        На главной странице Вы увидите результат Вашего тестирования и сможете пройти его заново
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngFor="let question of questions">
        <mat-card-title>{{question.objContent}} </mat-card-title>
        <mat-card-content>
          <mat-radio-group>
            <mat-radio-button *ngFor="let answer of question.answers" [value]="answer" (change)="radioChange($event)">
              {{answer.content}}{{answer.answerRate}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="submit()">Подтвердить</button>
    </mat-card-actions>
  </mat-card>
  </div>