<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav *ngIf='isShow'
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Главная панель</a>
      <a mat-list-item routerLink="/settings">Настройки</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="fixed-toolbar" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf='!isShow' >FinBotProject</span>
      <span *ngIf='isShow'>Добро пожаловать, {{currentUser.firstName}} {{currentUser.lastName}} !</span>
      <button mat-button *ngIf='!isShow' style="margin-left:1%">О проекте</button>
      <button mat-button *ngIf='!isShow' style="margin-left:1%" routerLink="/login">Войти</button>
      <button mat-button *ngIf='!isShow' style="margin-left:1%" routerLink="/register">Зарегистрироваться</button>

      <span style="flex:1 1 auto;"></span>

      <mat-icon *ngIf='isShow' class="example-icon">verified_user</mat-icon>
      <button mat-button *ngIf='isShow' (click)="logout()">Выход</button>
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="text-center" *ngIf='!isShow'>
        <p>
            Graduate Work "FinBotProject v0.1"
        </p>
        <p>
          By Eugene Trigubov && Tatjana Ilina
        </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

