<div class="login">
  <div class="login__container">
    <mat-card class="login__container__card">
      <h1>Войти в панель</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__container__card__form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="loginForm.hasError('required', ['email'])">
              Не указан email
            </mat-error>
            <mat-error *ngIf="loginForm.hasError('email', ['email'])">
              Укажите email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="loginForm.hasError('required', ['password'])">
              Не указан пароль
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login__container__card__form__login__container">
          <div *ngIf="loading" class="login__container__card__form__login__container__spinner">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
          <button mat-raised-button color="accent" [disabled]="loading || canLogin" type="submit">Продолжить</button>
        </div>
        <div matTooltip="Cкоро будет доступно" matTooltipPosition="after" matTooltipHideDelay="100"
          matTooltipClass="my-tooltip">
          <button mat-raised-button type="button" class="login__container__card__form__login-action" disabled>
            <img width="20px" src="assets/new-google-favicon-512.png" /> Войти с помощью Google
          </button>
        </div>
        <div matTooltip="Cкоро будет доступно" matTooltipPosition="after" matTooltipHideDelay="100"
          matTooltipClass="my-tooltip">
          <button mat-raised-button type="button" class="login__container__card__form__login-action" disabled>
            <img width="20px" src="assets/600px-Facebook_logo_(square).png" /> Войти с помощью Facebook
          </button>
        </div>
        <button mat-button color="primary" class="login__container__card__form__button-action"
          (click)="onForgetPassword()">
          Забыли пароль?
        </button>
      </form>
    </mat-card>
  </div>
</div>