<div class="login">
  <div class="login__container">
    <mat-card class="login__container__card">
      <h1>Войти в панель</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__container__card__form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && controls.email.errors }" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && controls.password.errors }" />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="login__container__card__form__button__login">
          <div *ngIf="loading" class="login__container__card__form__button__login__spinner">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
          <button mat-raised-button color="accent" [disabled]="loading" type="submit">Продолжить</button>
        </div>
        <div matTooltip="Cкоро будет доступно" matTooltipPosition="after" matTooltipHideDelay="200"
          matTooltipClass="my-tooltip">
          <button mat-raised-button type="button" class="login__container__card__form__button-action"
            (click)="forgetPassword()" disabled>
            <img width="20px" src="assets/new-google-favicon-512.png" /> Войти с помощью Google
          </button>
        </div>
        <div matTooltip="Cкоро будет доступно" matTooltipPosition="after" matTooltipHideDelay="200"
          matTooltipClass="my-tooltip">
          <button mat-raised-button type="button" class="login__container__card__form__button-action"
            (click)="forgetPassword()" matTooltip="Cкоро будет доступно" matTooltipPosition="after" disabled>
            <img width="20px" src="assets/600px-Facebook_logo_(square).png" /> Войти с помощью Facebook
          </button>
        </div>
        <button mat-button color="primary" class="login__container__card__form__button-action"
          (click)="forgetPassword()">
          Забыли пароль?
        </button>
      </form>
    </mat-card>
  </div>
</div>