.login {
  height: 92%;
  background-image: url('../../../../assets/img/background_1.jpg');

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

    &__card {
      width: 20rem;
      border-radius: 1rem;
      padding: 1.5rem;

      &__form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        &__login {
          &__container {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 1rem;

            &__spinner {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            button {
              width: 50%;
            }
          }

          &-action {
            width: 100%;
            margin-bottom: 1rem;
          }

          &-tooltip {
            color: red !important;
          }
        }
      }
    }
  }
}

::ng-deep .my-tooltip {
  color: white !important;
}

.divider {
  &__container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 280px;
  }

  &__container::before {
    margin-left: 0px;
    content: "";
    flex: 0 1 100%;
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0px 10px;
    transform: translateY(-50%);
  }

  &__container::after {
    margin-right: 0px;
    content: "";
    flex: 0 1 100%;
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0px 10px;
    transform: translateY(-50%);
  }

  &__word {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: rgb(92, 108, 117);
    text-align: center;
  }
}
