.settings-container {
  margin-top: 2rem;
  padding: 0% 20% 0% 20%;

  &__header {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__broker-name {
      font-weight: bold;
    }

    &__field {
      margin-bottom: 1rem;

      &__radio {
        display: flex;
        margin-bottom: 1rem;
      }
    }

    &__btn-save {
      margin-top: 3rem;
    }
  }
}

.loading {
  position: fixed;
  z-index: 100;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
