<div class="settings-container">
  <h1 class="settings-container__header">Settings</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="settings-container__form">

    <mat-form-field appearance="outline" class="settings-container__form__field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>

    <div style="margin-bottom: 2rem;">
      <mat-slide-toggle
        [(ngModel)]="isDemoValue"
        (ngModelChange)="onIsDemoCheckboxChanged()"
        [ngModelOptions]="{standalone: true}"
        [matTooltip]="CHECK_BOX_TOOLTIP_TEXT"
        matTooltipPosition="above">
        Set demo token to broker (only Tinkoff)
      </mat-slide-toggle>
    </div>

    <h1>Broker access tokens</h1>
    <mat-list>
      <mat-list-item *ngIf="broker.isBrokerToken" class="settings-container__list__item">
        <!-- <p mat-line>Broker name:
          <span class="settings-container__form__broker-name">
            {{broker.brokerName}}
          </span>
        </p> -->
        <div matListItemTitle> Broker name:
          <span class="settings-container__form__broker-name">
            {{broker.brokerName}}
          </span>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onTokenValidation(broker)" type="button" style="margin-right: 2rem;">
            Validate token
          </button>
          <button mat-raised-button color="warn" (click)="onRemoveToken(broker)" type="button">
            Remove
          </button>
        </div>
        <mat-form-field *ngIf="!broker.isBrokerToken" appearance="outline">
          <mat-label>Token for Tinkoff</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="tinkoffToken" />
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <div>
      <button class="settings-container__form__btn-save" mat-raised-button color="accent" type="submit"
        [disabled]="!canSave">
        Save changes
      </button>
    </div>
  </form>
</div>

<mat-spinner *ngIf="loading" class="loading"></mat-spinner>
