.settings-container {
  margin-top: 2rem;
  // todo значения должны быть оптимизированы
  padding: 0% 30% 0% 30%;

  &__header {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 

    &__field {
      margin-bottom: 1rem;

      &__radio {
        display: flex;
        margin-bottom: 1rem;
      }
    }
  }
}