<div class="about">
  <div class="about__header">
    <h1>F.A.Q</h1>
    <p>
      Этот проект про доступный <a href="https://finbots-landing.herokuapp.com">алготредйинг</a>. <br>
      Ниже основные вопросы и ответы.
    </p>
    <br>
  </div>

  <mat-accordion class="about__accordion">
    <!-- Общее -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Общее
        </mat-panel-title>
        <mat-panel-description>
          Основные вопросы
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ol>
        <li>
          <b>
            Что за проект?
          </b>
          <br><br>
          Проект помогает эффективнее зарабатывать на инвестициях c помощью <i>алготрейдинга</i>.
          <br>
          <i>Алготрейдинг</i> - это торговля ценными бумагами с помощью программ или <i>торговых ботов</i>. <br>
          Они совершают сделки на бирже с помощью специальных алгоритмов и сигналов.
          <br>
          Если вы никогда не слышали об этом, то есть масса источников:
          <a href="https://journal.open-broker.ru/trading/plyusy-i-minusy-torgovyh-robotov/">
            раз,
          </a>
          <a href="https://bcspremier.ru/knowledge/basics/torgovye-roboty-chto-eto-takoe/">
            два,
          </a>
          <a href="https://journal.tinkoff.ru/ask/trading-robot/">
            три.
          </a>
          <br><br>
        </li>

        <li>
          <b>
            Для кого этот проект?
          </b>
          <br><br>
          Проект подойдет тем, кто имеет <br>
          1. немного опыта торговли на рынке ценных бумаг <br>
          2. брокерский счет в Тинькофф Инвестиции <br>
          <br>
          Если у вас нет брокерского опыта торговли на бирже, рекомендуем изучить самостоятельно как работает рынок
          ценных бумаг.
          <br><br>
        </li>

        <li>
          <b>
            Как это работает?
          </b>
          <br><br>
          Вы создаете торгового бота, который совершает сделки по такому же алгоритму действий, как и
          человек. <br> Он выбирает бумагу, количество лотов, цену и решает купить или продать. Также вы
          решаете по какой стратегии бот будет совершать действия.
          <br><br>
        </li>

        <li>
          <b>
            Заменяет ли сервис брокера?
          </b>
          <br><br>
          Нет. Наш проект - это вспомогательный сервис. Процесс торговли и совершенные операции остаются в вашем
          брокере, как и раньше.
          <br><br>
        </li>

        <li>
          <b>
            Как вы используете брокер для работы сервиса?
          </b>
          <br><br>
          У многих брокеров есть свой API (программный внешний интерфейс). Он позволяет программно делать те же
          действия,
          что и при использовании других интерфейсов, например, мобильного приложения или торгового терминала.
          <br><br>
        </li>

        <li>
          <b>Какие брокеры доступны для интеграции?</b>
          <br><br>
          На данный момент мы сделали интеграцию с брокером “Тинькофф Инвестиции”. В дальнейшем мы добавим интеграцию и
          с другими брокерами.
          <br><br>
        </li>

        <li>
          <b>На чем вы зарабатываете?</b>
          <br><br>
          В данный момент проект находится в стадии “беты”, а мы работаем за идею.
          <br><br>
        </li>

        <li>
          <b>Кто разрабатывает проект ?</b>
          <br><br>
          В нашей команде:
          <ul>
            <li>
              <b>Евгений Тригубов</b>, <i>evgentrigub@yandex.ru</i> <br>
              Закончил <i>Финансовый Университете</i> по направлению <i>Прикладной математики и информационных
                технологий</i>.
              Занимаюсь программированием 5 лет. В данный момент работаю в Mail.ru Group. Более 3 лет изучаю
              алготредйинг и занимаюсь пассивным инвестициямм.
            </li>
            <br>
            <li>
              <b>Татьяна Ильина</b>, <i>ilyitatjana@yandex.ru</i> <br>
              Закончил <i>Финансовый Университете</i> по направлению <i>Прикладной математики и информационных
                технологий</i>.
              Разрабатывает веб-приложения более 4 лет.
              Программировала торговых ботов на .NET на платформе OS.Engine.
              Работает в компании X5 Retail Group.
            </li>
          </ul>
          <br><br>
        </li>
      </ol>
    </mat-expansion-panel>
    <!-- Брокерский токен -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Брокерский токен
        </mat-panel-title>
        <mat-panel-description>
          Что и как работает
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Как принять участие?
        </mat-panel-title>
        <mat-panel-description>
          Требования
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Сейчас вы можете попробовать личный кабинет с тестовыми данными. <br>
        Перейдите на <a href="/login">Вход</a> в верхней панели и нажмите на <b>Войти в демо-режим</b>.
        В демо-режиме можно ознакоиться функционалом.
        <br> <br>
        Чтобы принять участие в бета-тестировании нужно выполнить два условия:
      </p>
      <ol>
        <li>
          иметь брокерский счет в <b>Тинькофф Инвестициях</b>.
        </li>
        <li>
          знать авторов проекта лично или тех, кто уже принял участие в бета-тестировании.
        </li>
      </ol>
      Напиши
      <ul>
        <li>
          в <b>Telegram (evgentrigub)</b> сообщение <b>Заявка на FinBots</b>
        </li>
        <li>
          или на почту <b>evgentrigub@yandex.ru</b> c темой
          <b>
            Заявка на FinBots
          </b>
        </li>
      </ul>
      чтобы получить логин и пароль для бета-тестирования личного кабинета.
    </mat-expansion-panel>
  </mat-accordion>
</div>