<div class="about">
  <div class="about__header">
    <h1>About</h1>
    <p>
      This is awesome <a href="https://finbots-landing.herokuapp.com">algotrading project</a>. <br>
      Find detail FAQ below.
    </p>
    <br>
  </div>

  <mat-accordion class="about__accordion">
    <!-- Common -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          General
        </mat-panel-title>
        <mat-panel-description>
          Common questions
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ol style="white-space:pre-wrap">
        <li>
          <b>
            {{commonPart.question1}}
          </b>
          <br>
            {{commonPart.answer1}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question2}}
          </b>
          <br>
            {{commonPart.answer2}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question3}}
          </b>
          <br>
            {{commonPart.answer3}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question4}}
          </b>
          <br>
            {{commonPart.answer4}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question5}}
          </b>
          <br>
            {{commonPart.answer5}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question6}}
          </b>
          <br>
            {{commonPart.answer6}}
          <br><br>
        </li>

        <li>
          <b>
            {{commonPart.question7}}
          </b>
          <br>
            {{commonPart.answer7}}
          <br><br>
        </li>

      </ol>
    </mat-expansion-panel>
    <!-- Broker Token -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Broker access token
        </mat-panel-title>
        <mat-panel-description>
          How it works
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ol style="white-space:pre-wrap">
        <li>
          <b>
            {{brokerPart.question1}}
          </b>
          <br>
            {{brokerPart.answer1}}
          <br><br>
        </li>

        <li>
          <b>
            {{brokerPart.question2}}
          </b>
          <br>
            {{brokerPart.answer2}}
          <br><br>
        </li>

        <li>
          <b>
            {{brokerPart.question3}}
          </b>
          <br>
            {{brokerPart.answer3}}
          <br><br>
        </li>

        <li>
          <b>
            {{brokerPart.question4}}
          </b>
          <br>
            {{brokerPart.answer4}}
          <br><br>
        </li>
      </ol>
    </mat-expansion-panel>
    <!-- Take Part -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to take part?
        </mat-panel-title>
        <mat-panel-description>
          Requirements
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        If you want disable "Demo Mode" and take part in beta test <br>
        two conditions must be completed:
      </p>
      <ol>
        <li>
          open a broker account in <b><a href="https://www.tinkoff.ru/invest/">Tinkoff</a></b>.
        </li>
        <li>
          describe <b>why you want</b> to take part in early beta and if you <b>know anyone</b> of beta testers.
        </li>
      </ol>

      Contact me
      <ul>
        <li>
          by <b>Telegram (evgentrigub)</b> with #wannaFIB.
        </li>
        <li>
          by email <b>trigubov.eugene@gmail.com</b> with topic
          <b>
            FinBots Apply.
          </b>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
