<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-content">
        <h1>Что за проект ?</h1>
        <p>
          Это проект про доступный алготредйинг. Подробнее <a href="https://finbots-landing.herokuapp.com">здесь</a>.
        </p>
        <br>

        <h1>Как принять участие?</h1>

        <p>
          Сейчас проходит закрытое бета-тестирование. <br>
          Чтобы принять участине нужно выполнить два условия:
        </p>
        <ol>
          <li>
            нужно иметь брокерский счет в Тинькофф Инвестициях.
          </li>
          <li>
            знать авторов проекта лично или тех, кто уже принял участие в бета-тестировании.
          </li>
        </ol>

        Напиши
        <ul>
          <li>
            или в <b>Telegram (evgentrigub)</b> с хештегом #wannaFIB
          </li>
          <li>
            или на почту <b>evgentrigub@yandex.ru</b> c темой
            <b>
              Заявка на FinBots
            </b>
          </li>
        </ul>

        Я пришлю логин и пароль для доступа к бета-версии Личного кабинета
      </div>
    </div>
  </div>
</div>