.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.grid-container {
  margin: 20px;
}
  
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.inline{
  display: inline-block;
}