<div style="margin:20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="font-size:24px">
        Создать робота
      </mat-card-title>
      <mat-card-subtitle style="font-size:16px; color: black">
        На этой странице вы можете создать нового робота за 4 шага.
        <ul>
          <li style="margin-top: 1em">
            На первом шаге введите название и сумму инвестиций
          </li>
          <li style="margin-top: 1em">
            На втором, выберите параметры доходности робота<br />
            согласно вашему риск-профилю или вручную.
          </li>
          <li style="margin-top: 1em">
            На третьем - выберите инструмент для торговли.<br />
            Вы можете выбрать акции, валюту или криптовалюту. <br />
            При выборе акций, надо выбрать еще индустрию. <br />
            (информационные технологии, финансы, медицина, ндвижимость и т.д.)
          </li>
          <li style="margin-top: 1em">
            Если все поля заполнены, то подвердите создания робота. <br />
            Если нет, то дозаполните все необходимые поля.
          </li>
        </ul>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-vertical-stepper linear="false" #stepper>
          <!-- step 1 -->
          <mat-step>
            <ng-template matStepLabel>Название робота и сумма инвестирования</ng-template>
            <div style="display:flex; flex-wrap: wrap">
              <mat-form-field style="min-width: 30em; margin-right: 3em; margin-bottom: 2em">
                <input #nameInput matInput formControlName="name" placeholder="Введите название робота" />
                <mat-error *ngIf="formGroup.hasError('required', 'name')">
                  Не указано название
                </mat-error>
                <mat-error *ngIf="formGroup.hasError('minlength', 'name')">
                  Минимальная длина: {{ formGroup.getError('minlength', 'name').requiredLength }}
                </mat-error>
                <mat-error *ngIf="formGroup.hasError('maxlength', 'name')">
                  Максимальная длина: {{ formGroup.getError('maxlength', 'name').requiredLength }}
                </mat-error>
                <mat-hint align="start"><strong>Длина от 5 до 255 символов</strong> </mat-hint>
                <mat-hint align="end">{{ nameInput.value.length }} / 255</mat-hint>
              </mat-form-field>
              <mat-form-field style="width: 30em; margin-bottom: 2em">
                <input matInput formControlName="sum" placeholder="Какую сумму Вы готовы инвестировать?" type="number" />
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="formGroup.hasError('required', 'sum')">
                  Не указана сумма
                </mat-error>
                <mat-hint align="start">
                  <strong>Рекомендуемая сумма риска от капитала на сделку не более 3%</strong>
                </mat-hint>
              </mat-form-field>
            </div>
            <div>
              <button mat-stroked-button color="accent" matStepperNext>Далее</button>
            </div>
          </mat-step>
          <!-- step 2 -->
          <mat-step>
            <ng-template matStepLabel>Параметры доходности</ng-template>
            <div style="display: flex; flex-wrap: wrap; margin-top:2em; height: 3em">
              <div>
                <mat-radio-group style="margin-right:5em" [formControl]="defaultProfitRisk">
                  <mat-radio-button color="primary" value="true">Рекомендованный по риск-профилю</mat-radio-button>
                  <mat-radio-button color="accent" value="false">Вручную</mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="!isDefaultProfitRisk">
                <mat-slider
                  thumbLabel
                  style="width: 30em;"
                  [displayWith]="formatLabel"
                  tickInterval="10"
                  min="5"
                  max="90"
                  step="5"
                  formControlName="esValue"
                >
                </mat-slider>
              </div>
            </div>
            <div>
              <button mat-stroked-button color="primary" style="margin-right:2em" matStepperPrevious>Назад</button>
              <button mat-stroked-button color="accent" matStepperNext>Далее</button>
            </div>
          </mat-step>
          <!-- step 3 -->
          <mat-step>
            <ng-template matStepLabel>Финансовый инструмент и стратегия робота</ng-template>
            <div style="display:flex; flex-wrap: wrap">
              <mat-form-field style="min-width: 30em; margin-right: 3em; margin-bottom: 2em">
                <mat-select
                  placeholder="Финансовый инструмент"
                  formControlName="instrument"
                  (selectionChange)="selectionChangeInstrument($event)"
                >
                  <mat-option *ngFor="let financialInstrument of financialInstruments" [value]="financialInstrument">{{
                    financialInstrument
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="min-width: 30em; margin-right: 3em; margin-bottom: 2em">
                <mat-select
                  placeholder="Индустрия"
                  formControlName="industry"
                  (selectionChange)="selectionChangeIndustry($event)"
                  [disabled]="!isStockSelected"
                >
                  <mat-option *ngFor="let industry of industries" [value]="industry">{{ industry }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="min-width: 30em; margin-right: 3em; margin-bottom: 2em">
                <mat-select placeholder="Актив" formControlName="asset" [disabled]="!isIndustrySelected && !isCurrencySelected">
                  <mat-option *ngFor="let asset of assets" [value]="asset">{{ asset.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 30em; margin-bottom: 2em">
                <mat-select placeholder="Cтратегия" formControlName="strategy">
                  <mat-option *ngFor="let strategy of strategies" [value]="strategy" required>{{ strategy.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-stroked-button color="primary" style="margin-right:2em" matStepperPrevious>Назад</button>
              <button mat-stroked-button color="accent" matStepperNext>Далее</button>
            </div>
          </mat-step>
          <!-- step 4 -->
          <mat-step>
            <ng-template matStepLabel>Форма заполнена</ng-template>
            <img *ngIf="formGroup.valid" src="http://avenuesoft.ru/site/files/f_pbx_41/robot_ip_pbx.jpg" style="height:100%" />
            <div style="margin-bottom: 2em">
              <button mat-raised-button color="accent" (click)="createRobot()" [disabled]="!formGroup.valid">
                Создать робота
              </button>
              <mat-error *ngIf="!formGroup.valid">
                Кнопка неактивна. Заполните все поля.
              </mat-error>
            </div>
            <div>
              <button mat-stroked-button color="primary" style="margin-right:2em" matStepperPrevious>Назад</button>
              <button mat-stroked-button color="warn" (click)="stepper.reset()">Начать заново</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </mat-card-content>
  </mat-card>
</div>
