<div>
  <ng-container *ngIf="editMode then edit else view"></ng-container>
</div>

<ng-template #view>
  <div (mouseover)="hover=true" (mouseleave)="hover=false" class="name">
    <span>{{original}}</span>
    <button *ngIf="hover" mat-button (click)="editMode=true" matSuffix mat-icon-button aria-label="Edit" class="edit">
      <mat-icon class="btn-usual" matTooltip="Переименовать" matTooltipPosition="right">edit</mat-icon>
    </button>
  </div>
</ng-template>
<ng-template #edit>
  <mat-form-field style="width:90%">
    <input type="text" matInput class="name" (keydown.enter)="save()" (keydown.esc)="undo()" (blur)="toView()" [(ngModel)]="current"
      placeholder="Название проекта" required minlength="3" maxlength="255">
    <button mat-button *ngIf="canUndo" (click)="undo()" matSuffix mat-icon-button aria-label="Undo" class="undo">
      <mat-icon class="btn-undo" matTooltip="Отменить изменения" matTooltipPosition="right">undo</mat-icon>
    </button>
    <button mat-button *ngIf="canSave" (click)="save()" matSuffix mat-icon-button aria-label="Save" class="save">
      <mat-icon class="btn-add" matTooltip="Сохранить" matTooltipPosition="right">save</mat-icon>
    </button>
    <mat-hint *ngIf="canUndo || canSave" align="start">отменить - 'Esc', сохранить - 'Enter'</mat-hint>
  </mat-form-field>
</ng-template>
