.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.inline {
  display: inline-block;
}


.loading__container {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 8rem;

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}