<div style="margin:20px">
  <div style="display: flex; margin-bottom: 20px">
    <mat-card style="min-width: 50%;">
      <mat-card-header>
        <mat-card-title style="font-size:24px;">
          Operations
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="font-size:16px; margin: 16px 0px 0px 16px">
        <div style="color:black">
          <div>
            In this page you see current and completed operations of <a [routerLink]="['/bots']"
              routerLinkActive="router-link-active">your trading bots</a>. <br />
            To create a new bot click on tab "Create Bot" in left navigation bar. <br />
            <br />
            In the table you find:
          </div>
          <ul>
            <li>
              <div style="display: inline-flex; margin-top: 1rem;">
                time when operation started, ticket price, operation type and status
              </div>
            </li>
            <li>
              <div style="display: inline-flex; margin-top: 1rem; margin-right: 1rem;">
                <div style="display: inline-flex;">statuses are:
                  in progress,
                  <mat-progress-spinner style="margin: 0rem 0.5rem 0rem 0.5rem;" diameter="25" strokeWidth="3"
                    mode="determinate" value="60">
                  </mat-progress-spinner>
                  completed
                  <mat-icon class="btn-usual" style="margin: 0rem 0.5rem 0rem 0.5rem; color: green;">
                    check_circle
                  </mat-icon>
                  or rejected
                  <mat-icon class="btn-usual" style="margin-left: 0.5rem; color: red">
                    cancel
                  </mat-icon>
                </div>
              </div>
            </li>
            <li>
              <div style="display: inline-flex; margin-top: 1rem">
                <div>remove bot</div>
                <mat-icon class="btn-warn" style="margin-left: 1rem">delete</mat-icon>
              </div>
            </li>
          </ul>
          <br />
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-left: 20px; min-width: 40%; width: 50%">
      <mat-card-header>
        <mat-card-title style="font-size:24px;">
          Statistics (mock data)
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="font-size:16px; margin: 16px 0px 0px 16px">
        <ul>
          <li style="margin-bottom: 1rem">
            <strong>Bots quantity: </strong> 5
            <ul>
              <li>scheduled: 3</li>
              <li>paused: 2</li>
            </ul>
          </li>
          <li>
            <strong>Profit:</strong>
            <ul>
              <li>per year: 14%</li>
            </ul>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>


  <mat-card>
    <mat-card-content>
      <mat-progress-spinner *ngIf="isLoading" class="example-margin" color="primary" mode="indeterminate">
      </mat-progress-spinner>

      <table mat-table [dataSource]="dataSource" class="dashboard-card" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.botId }}</td>
        </ng-container>

        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</th>
          <td mat-cell *matCellDef="let row"><b>{{ row.ticker }}</b></td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date: 'medium' }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.price }}</td>
        </ng-container>

        <ng-container matColumnDef="operationType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell/Buy</th>
          <td mat-cell *matCellDef="let row">{{ row.operationType }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <div style="display: flex; align-items: center;">
              <mat-progress-spinner *ngIf="row.status === 'progress'" mode="indeterminate" diameter="25"
                strokeWidth="3" matTooltip="In progress..." matTooltipPosition="right"></mat-progress-spinner>
              <mat-icon *ngIf="row.status !== 'progress'" [ngStyle]="{color: row.status === 'done' ? 'green' : 'red'}"
                [matTooltip]="row.status === 'done' ? 'Completed' : 'Declined'" matTooltipPosition="right">
                {{ row.status === 'done' ? 'check_circle' : 'cancel'}}
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
