@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

mat-icon.btn-usual{
  color: darkgray;
}

mat-icon.btn-usual:hover{
  color: rgb(66, 66, 211);
}

mat-icon.btn-warn{
  color: darkgray;
}

mat-icon.btn-warn:hover{
  color: red;
}

mat-icon.btn-accent{
  color: darkgray;
}

mat-icon.btn-accent:hover{
  color: #FF4081;
}

.mat-radio-label-content{
  color:black
}

.mat-stroked-button{
  border-radius: 4px !important;
  border-color: rgba(0,0,0,.12) !important;
}

div[_ngcontent-c13]{
  width: 15em !important;
}